<%- include ../layout/cabecera.ejs %>
<br>
<h1>Registar Unidades</h1>
<br>
<form method="post" action="/unidades">

    <div class="form-group">
        <label for="nombreUnidad">Nombre:</label>
        <input id="nombreUnidad" class="form-control" type="text" name="nombre" required>
    </div>

    <div class="form-group">
        <label for="simboloUnidad">Simbolo:</label>
        <input id="simboloUnidad" class="form-control" type="text" name="simbolo" >
    </div>

    
    <div class="form-group">
        <label for="idMagnitud">Magnitud: (Seleccione una opcion)</label>
        <select id="idMagnitud" class="form-control" name="idMagnitud" required>
            <% magnitudes.forEach((magnitud) => { %>
                <option value="<%= magnitud.id %>"><%= `${magnitud.nombre}     (${magnitud.descripcion || ''})` %></option>
            <% }); %>
        </select>
    </div>

    <button class="btn btn-primary" type="submit">Registrar Unidad</button>

</form>

<%- include ../layout/pie.ejs %>
